/* Smooth scrolling */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 70px; /* Tambahkan jarak 70px di atas elemen target */
}

.App {
	background-color: #ffffff; /* Warna latar belakang putih */
	color: #333333; /* Warna teks gelap */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 50px; /* Padding atas untuk menghindari tumpang tindih dengan navbar */
	transition:
		background-color 0.3s ease,
		color 0.3s ease; /* Animasi perubahan warna */
}

/* Dark mode untuk App */
body.dark-mode .App {
	background-color: #333333; /* Warna latar belakang gelap */
	color: #ffffff; /* Warna teks terang */
}
