/* Container for the algorithm page */
.algorithm-page {
	display: flex; /* Membuat algorithm-component-sidebar dan konten utama sejajar secara horizontal */
	align-items: flex-start; /* Sidebar hanya setinggi kontennya */
}

/* algorithm-component Sidebar styling */
.algorithm-component-sidebar {
	position: sticky; /* Sidebar tetap terlihat saat di-scroll */
	top: 110px; /* Tambahkan !important untuk memastikan properti ini diterapkan */
	width: 150px;
	padding-left: 20px;
	border-right: 2px solid #ddd; /* Garis pemisah */
	overflow-y: auto; /* Tambahkan scroll jika konten terlalu panjang */
	font-family: Arial, sans-serif; /* Konsisten dengan font utama */
}

/* algorithm-component Sidebar menu styling */
.algorithm-component-sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* algorithm-component Sidebar link styling */
.algorithm-component-sidebar-link {
	text-decoration: none;
	color: #0056d2; /* Warna biru untuk link */
	font-size: 15px;
	display: block;
	padding: 5px 0;
	transition: color 0.3s ease;
}

.algorithm-component-sidebar-link:hover {
	border-right: 2px solid darkgray; /* Garis biru saat hover */
}

body.dark-mode .algorithm-component-sidebar-link {
	color: #4fc3f7; /* Warna biru untuk link */
}

/* Main content container */
.algorithm-container {
	flex: 1; /* Konten utama mengambil sisa ruang */
	padding: 20px;
	overflow-y: auto; /* Scroll terpisah untuk konten utama */
}

/* Title styling */
.algorithm-title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

/* Description styling */
.algorithm-description {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 30px;
	text-align: center;
}

/* Section styling */
.algorithm-section {
	margin-bottom: 40px;
}

/* Subtitle styling */
.algorithm-subtitle {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 15px;
}

/* List styling */
.algorithm-list {
	list-style-type: disc;
	padding-left: 20px;
}

.algorithm-list li {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 10px;
}

/* Responsif untuk layar kecil (max-width: 350px) */
@media (max-width: 768px) {
	.algorithm-component-sidebar {
		display: none; /* Sembunyikan teks logo */
	}
}
