.react-setup-container {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.react-setup-container h1 {
	color: #007bff;
	font-size: 36px;
	margin-bottom: 20px;
}

.react-setup-container ol {
	margin: 20px auto;
	max-width: 600px;
	text-align: left;
}

.react-setup-container code {
	background-color: #f4f4f4;
	padding: 2px 4px;
	border-radius: 4px;
	font-family: monospace;
}
